<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dazzlzy.springbootseed.dao.user.BillMapper">

    <select id="selectUserBillInfo" resultType="com.dazzlzy.springbootseed.model.user.UserBill">
        select * from t_user_bill tub
        where tub.user_account = #{userAccount}
        <if test="dateSelectType == 'day'">
            and tub.bill_date = date_format(#{billFormatDate},'%Y-%m-%d')
        </if>
        <if test="dateSelectType == 'month'">
            and tub.bill_date like concat(date_format(#{billFormatDate},'%Y-%m'),'%')
        </if>
        <if test="dateSelectType == 'year'">
            and tub.bill_date like concat(date_format(#{billFormatDate},'%Y'),'%')
        </if>
    </select>

    <insert id="insertUserBill" parameterType="com.dazzlzy.springbootseed.model.user.Bill">
        insert into t_bill(
        bill_type,
        bill_date,
        statement,
        sign,
        money,
        create_date,
        modify_date,
        user_account
        )
        values (
        #{bill.billType},
        #{bill.billDate},
        #{bill.statement},
        #{bill.sign},
        #{bill.money},
        now(),
        now(),
        #{bill.userAccount}
        )
    </insert>

    <update id="updateBillInfo" parameterType="com.dazzlzy.springbootseed.model.user.Bill">
        update t_bill
        <set>
            <if test="bill.billType != null and bill.billType != ''" >
                bill_type = #{bill.billType},
            </if>
            <if test="bill.billDate != null and bill.billDate != ''" >
                bill_date = #{bill.billDate},
            </if>
            <if test="bill.statement != null and bill.statement != ''" >
                statement = #{bill.statement},
            </if>
            <if test="bill.sign != null and bill.sign != ''" >
                sign = #{bill.sign},
            </if>
            <if test="bill.money > 0" >
                money = #{bill.money},
            </if>
            modify_date = now()
        </set>
        WHERE bill_id = #{bill.billId}
    </update>

    <delete id="deleteBillById" parameterType="java.lang.String">
        delete from t_bill
        WHERE bill_id = #{billId}
    </delete>
</mapper>